body {
    font-family: 'Playfair Display', serif;
    background-color: #FFFEDF;
}

.section{
    min-height: 350px;
}

/*Navbar elements*/
.navbar {
    background-color: rgba(	205, 234, 192, 0.7);
    color: #244b12!important;
  }

.navbar .navbar-brand {
    color: #244b12;
    font-weight: bold;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #e14e4e;
  }
  .navbar .navbar-text {
    color: #244b12;
  }
  .navbar .navbar-text a {
    color: #e14e4e;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #e14e4e; 
  }
  .navbar .navbar-nav .nav-link {
    color: #244b12;
    font-weight: 600;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #e14e4e;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #e14e4e;
    background-color: #f5ff93;
  }
  .navbar .navbar-toggle {
    border-color: #f5ff93;
  }
  .navbar .navbar-toggle:hover,
  .navbar .navbar-toggle:focus {
    background-color: #f5ff93;
  }
  .navbar .navbar-toggle .navbar-toggler-icon {
    color: #244b12;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #244b12;
  }
  .navbar .navbar-link {
    color: #244b12;
  }
  .navbar .navbar-link:hover {
    color: #e14e4e;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #6a38c7;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #e14e4e;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #e14e4e;
      background-color: #f5ff93;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #244b12;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #e14e4e;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #e14e4e;
      background-color: #f5ff93;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #244b12;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #e14e4e;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #e14e4e;
      background-color: #f5ff93;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #244b12;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #e14e4e;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #e14e4e;
      background-color: #f5ff93;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #244b12;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #e14e4e;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #e14e4e;
    background-color: #f5ff93;
  }

/* Header elements*/
.centered{
    position: absolute;
    color: #FFF3C9;
    width: 100%;
    z-index: 1;
    max-width: 100%;
    top:20vw;
    font-size: 2vw;
    /*text-shadow: 3px 3px 3px rgba(152, 151, 255, 0.5);*/
    text-shadow: -1px 0 rgb(97, 0, 0), 0 1px rgb(88, 0, 0), 1px 0 rgb(134, 3, 3), 0 -1px rgb(97, 0, 0);
}
.centered::first-line{
    font-size: 3.5vw;
    font-weight: bold;
    color: #FFF272;
}
#ferika {
  color: #ffa582;
}

/* ABOUT */
.about h5{
    font-size: 1.5rem;
    color: #A8010B;
}
.about h2{
    font-size: 2.8rem;
    font-weight: 900;
    color: #577FE5;
    text-shadow: -1px 0 rgb(124, 2, 2), 0 1px rgb(100, 0, 0), 1px 0 rgb(94, 0, 0), 0 -1px rgb(97, 0, 0);
}
.about h2::first-line{
    color: #FB5454;
}
#me {
    max-width: 200px;
}


/* SKILLS */
.skill h2{
    font-size: 2.8rem;
    color:#9269c2; 
    font-weight: 900;
    text-shadow: -1px 0 rgb(97, 0, 0), 0 1px rgb(88, 0, 0), 1px 0 rgb(134, 3, 3), 0 -1px rgb(97, 0, 0);

}
.skill {
    color: #722638;
    font-size: 1rem;
}
.skill h4{
    color: #DD2E4E ;
    font-size: 1.5rem;
}

/* EXPERIENCES */
.experience h2 {
    font-size: 2.8rem;
    color:#5F9547; 
    font-weight: 900;
    text-shadow: -1px 0 rgb(97, 0, 0), 0 1px rgb(88, 0, 0), 1px 0 rgb(134, 3, 3), 0 -1px rgb(97, 0, 0);
}
.experience h6{
    font-size: 0.8rem;
    color: #00e7ad;
}
.experience a{
    font-size: 1.4rem;
    color: #F66F0E;
}
.experience td{
    font-size: 1.4rem;
    color: #C92222;
}
.experience button{
    border-radius: 15px;
    background-color: #CDEAC0; 
    border: 3px;
    /*color: #F26217;*/
    font-weight: bold;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.4rem;
}
#resume {
  background-color: #ffc19e;
  color: #728867 !important;
}
.experience {
  margin-left: 3vw;
}

/*INTEREST*/
.interest h2 {
  font-size: 2.8rem;
  color:#F07F44; 
  font-weight: 900;
  text-shadow: -1px 0 rgb(97, 0, 0), 0 1px rgb(88, 0, 0), 1px 0 rgb(134, 3, 3), 0 -1px rgb(97, 0, 0);
}
.interest h5{
  font-size: 1.5rem;
  color: #7D0808;
}

/*HOBBY*/
.hobby h2{
  font-size: 2.8rem;
  color:#9b85ad; 
  font-weight: 900;
  text-shadow: -1px 0 rgb(97, 0, 0), 0 1px rgb(88, 0, 0), 1px 0 rgb(134, 3, 3), 0 -1px rgb(97, 0, 0);
}
.hobby h5{
  color: #FF928B ;
  font-size: 1.5rem;
}
.hobby .card {
  margin-top: 3vw;
}

/*Feedback*/
.feedback h2{
  font-size: 2rem;
  color:#67A14D; 
  font-weight: 600;
}
.feedback a{
  font-weight: 900;
  color: #4e773b;
}
.feedback h5 {
  color: #4f7255;
  font-size: 1.7;
  font-weight: 800;
}

/*Contact*/
.contact {
  background-color: #FF9D97;
}
.contact h2{
  font-size: 3rem;
  color:#DD2E4E; 
  font-weight: 800;
  text-shadow: -1px 0 rgb(97, 0, 0), 0 1px rgb(88, 0, 0), 1px 0 rgb(134, 3, 3), 0 -1px rgb(97, 0, 0);
  margin-bottom: 30px;
}
.contact p{
  font-size: 1.4rem;
  color: #DD2E4E;
  font-style: italic;
}
.contact h6 {
  font-size: 1.2rem;
  color: #ffffff;
}

/*Education*/
.education h2 {
  color: #9b85ad;
  font-weight: 800;
  text-shadow: -1px 0 rgb(97, 0, 0), 0 1px rgb(88, 0, 0), 1px 0 rgb(134, 3, 3), 0 -1px rgb(97, 0, 0);
}
.card {
  box-shadow: 2px 2px 2px rgba(183, 226, 255, 0.8);
  padding: 10px;
  border: 3px dashed rgb(145, 192, 255);
}
#pink{
  background-color: #ffd5e3;
}
#hijau{
  background-color: #bcffee;
}
.education h5 {
  color: #523488;
  font-weight: bold;
}
.education p {
  color: #4b4674;
  font-weight: bolder;
}

/*Responsiveness*/
@media (max-width: 768px) {
  .about{
    margin-top: 0px auto !important;
    padding-top: 0px auto !important;
  }
  .about h5, .skill h4, .experience a, .experience td, .experience button, .interest h5, .hobby h5, .contact p{
    font-size: 1rem;
  }
  .about h2, .skill h2, .experience h2, .interest h2, .hobby h2, .contact h2, .education h2{
    font-size: 2rem;
  }
  .feedback h2 {
    font-size: 1.3rem;
  }
  #me {
    transform: scale(0.7);
  }
  .skill, .experience h6 {
    font-size: 0.7rem;
  }
  .carousel {
    margin-top: 40px;
  }
  .centered {
    top: 30vw;
  }
  .experience img, .feedback img, #atas{
    width: 40px;
  }
  .welcome{
   background-color: #CDEAC0;
  }
  .yumput {
    size: 60%;
  }
  #first, #first p, #first p::first-line{
    font-size: 2rem;
    width: 100%;
    margin-left: 20px;
  }
  .contact img{
    width: 35px;
  }
  .contact h6, .feedback h5{
    font-size: 1.2rem;
  }

}

@media (max-width: 500px) {
  .about{
    margin-top: 0px auto !important;
    padding-top: 0px auto !important;
  }
  .about h5, .skill h4, .experience a, .experience td, .experience button, .interest h5, .hobby h5, .contact p{
    font-size: 1rem;
  }
  .about h2, .skill h2, .experience h2, .interest h2, .hobby h2, .contact h2, .education h2{
    font-size: 1.7rem;
  }
  .feedback h2 {
    font-size: 1.3rem;
  }
  #me {
    transform: scale(0.7);
  }
  .experience img, .feedback img, #atas{
    width: 30px;
  }
  .skill, .experience h6 {
    font-size: 0.7rem;
  }
  .carousel {
    margin-top: 40px;
  }
  .centered {
    top: 30vw;
  }
  #first, #first p, #first p::first-line{
    font-size: 1rem;
    width: 100%;
    margin-left: 20px;
  }
  .contact img{
    width: 28px;
  }
  .contact h6, .feedback h5{
    font-size: 0.9rem;
  }


}

/*Welcome*/

.wadah-mengetik {
  font-weight: 900;
  color: #FFA1A1;
  /*font-size: 4.1rem;*/
  font-size: 4vw;
  margin-left: 3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
	width: 1000px;
	white-space:nowrap;
	overflow:hidden;
	-webkit-animation: ketik 5s steps(50, end);
	animation: ketik 5s steps(50, end);
}
@keyframes ketik{
		from { width: 0; }
}
@-webkit-keyframes ketik{
		from { width: 0; }
}
.yumput {
  position: absolute;
  bottom: 0px;
  object-fit: contain;
  width: 100%;
}
